body {
  /* this is the page background */
  background-color: #fff; }

nav {
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%; }
  nav div a, nav li a {
    color: #fff;
    text-decoration: none; }
  nav a:hover {
    text-decoration: underline; }
  nav a:visited {
    color: #fff; }
  nav div, nav ul {
    margin: 0;
    padding: 0; }
    nav div a, nav div li, nav ul a, nav ul li {
      display: inline-flex; }
  nav div {
    justify-content: flex-start; }
    nav div a {
      font-family: "Julius Sans One", sans-serif;
      font-weight: bold;
      font-size: 2rem;
      padding: 25px;
      margin: 0; }
  nav ul {
    color: #fff;
    justify-content: flex-end;
    list-style: none; }
    nav ul li {
      padding: 25px;
      margin: 0; }

header {
  background: radial-gradient(rgba(0, 0, 0, 0.6), #000);
  background-size: cover;
  height: inherit; }
  @media only screen and (min-width: 800px) {
    header {
      height: 60rem; } }
  header h1, header p {
    text-align: right;
    color: #fff; }
  header h1 {
    font-size: 3.4rem;
    padding-top: 20rem;
    padding-bottom: 0; }
    @media only screen and (min-width: 800px) {
      header h1 {
        font-size: 5rem;
        padding-top: 30rem; } }
  header p {
    font-style: italic; }

header.centrix {
  background: radial-gradient(rgba(0, 0, 0, 0.6), #000), url("../img/centrix/home-desktop.png"); }

.page, section > h1, section > h2, section > p, section > blockquote, section > figure, section > ul, section > div, header > h1, header > h2, header > p, header > blockquote, header > figure, header > ul, header > div, article > h1, article > h2, article > p, article > blockquote, article > figure, article > ul, article > div, .card {
  width: 100%;
  max-width: 600px;
  margin: 0 auto; }

section, header, article {
  padding: 2em; }
  @media only screen and (min-width: 800px) {
    section, header, article {
      padding: 5em; } }

section:nth-of-type(odd) {
  background-color: #fff;
  color: darken #000, 15%; }
  section:nth-of-type(odd) p {
    color: #000; }

section:nth-of-type(even) {
  background-color: #000;
  color: white; }
  section:nth-of-type(even) p {
    color: #fff; }

.card-wrap {
  margin-top: 1rem; }

.card {
  background: #fff; }
  @media only screen and (min-width: 800px) {
    .card {
      padding: 6px;
      width: 24.25%;
      float: left;
      margin-right: 1%; } }

.card:last-of-type {
  margin-right: 0; }

h1, h2 {
  font-family: "Julius Sans One", sans-serif;
  color: inherit; }

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2; }
  @media only screen and (min-width: 600px) {
    h1 {
      font-size: 3.2rem; } }
  @media only screen and (min-width: 800px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-weight: bold; }
  @media only screen and (min-width: 600px) {
    h2 {
      font-size: 1.8rem;
      margin: 1em 0 1.4em; } }

section > h2::before {
  /* number before each section title */
  color: #7c664d; }

p, ul, ol {
  font-size: 1.4rem;
  line-height: 1.4; }
  p a, ul a, ol a {
    color: #F5815F;
    text-decoration: underline; }
  @media only screen and (min-width: 600px) {
    p, ul, ol {
      font-size: 1.6rem;
      line-height: 1.6; } }

section.project {
  display: flex; }
  section.project > div, section.project > img {
    display: inline-flex; }
  section.project > div {
    padding-right: 10px; }
  section.project > img {
    max-width: 200px; }

/* --------------------------------

xBasic style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Cardo", serif; }

a {
  color: #F5815F; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: inherit; }

h1, h2, p, ul {
  line-height: 145%;
  padding-bottom: 2rem;
  margin: 0; }

img {
  max-width: 100%; }

input, textarea, select {
  font-family: "Cardo", serif;
  font-size: 1.6rem; }

header {
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 10; }
  header nav {
    display: inline-block; }
  @media only screen and (min-width: 800px) {
    header::after {
      clear: both;
      content: "";
      display: table; } }

section::after {
  clear: both;
  content: "";
  display: table; }

section:nth-of-type(1) h2::before {
  content: '1. '; }

section:nth-of-type(2) h2::before {
  content: '2. '; }

section:nth-of-type(3) h2::before {
  content: '3. '; }

section:nth-of-type(4) h2::before {
  content: '4. '; }

section:nth-of-type(5) h2::before {
  content: '5. '; }

section:nth-of-type(6) h2::before {
  content: '6. '; }

figure {
  font-size: 1.4rem;
  font-style: italic;
  text-align: center;
  padding-bottom: 2rem; }

blockquote {
  font-style: italic; }
