// out: ../css/style-guide.css

@import 'bourbon/bourbon'; // http://bourbon.io/
@import '../partials/layout'; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section

$color-1: #F5815F; // action peach
$color-2: #000; // black
$color-3: #758A80; // accent green
$color-4: #A68D6F; // accent brown
$color-5: #fff; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red

// fonts

$primary-font: 'Cardo', serif;
$secondary-font: 'Julius Sans One', sans-serif;

// background

body {
	/* this is the page background */
	background-color: $color-5;
}

// nav

nav {
	background: rgba($color-2, .85);
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;

	div a, li a {
		color: $color-5;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	a:visited {
		color: $color-5;
	}

	div, ul {
		margin: 0;
		padding: 0;
		a, li {
			display: inline-flex;
		}
	}

	div {
		justify-content: flex-start;
		a {
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 2rem;
			padding: 25px;
			margin: 0;
		}
	}

	ul {
		color: $color-5;
		justify-content: flex-end;
		list-style: none;
		li {
			padding: 25px;
			margin: 0;
		}
	}
}

// header

header {
	background:
		radial-gradient(
			rgba($color-2, .6),
			$color-2
		);
	background-size: cover;
	height: inherit;
	@include MQ(M) {
		height: 60rem;
	}


	h1, p {
		text-align: right;
		color: $color-5;
	}

	h1 {
		font-size:3.4rem;
		padding-top: 20rem;
		padding-bottom: 0;
		@include MQ(M) {
			font-size: 5rem;
			padding-top: 30rem;
		}
	}

	p {
		font-style: italic;
	}
}

header.centrix {
	background:
		radial-gradient(
			rgba($color-2, .6),
			$color-2
		),
		url('../img/centrix/home-desktop.png');
}

// page margins

.page {
	width:100%;
	max-width: 600px;
	margin: 0 auto;
}

section, header, article {
	padding: 2em;
	@include MQ(M) {
		padding: 5em;
	}
	> h1, > h2, > p, > blockquote, > figure, > ul, > div {
		@extend .page;
	}
}

// sections
section:nth-of-type(odd) {
	background-color: $color-5;
	color: darken	($color-2, 15%);
	p {
		color: $color-2;
	}
}

section:nth-of-type(even) {
	background-color: $color-2;
	color: lighten($color-5, 15%);
	p {
		color: $color-5;
	}
}

// cards
.card-wrap {
	margin-top: 1rem;
}

.card {
	@extend .page;
	background: $color-5;
	//border: 1px solid $color-4;
	//border-radius: 3px;
	//box-shadow: 0 1px 1px rgba(#000, .05);
	@include MQ(M) {
		padding: 6px;
		width: 24.25%;
		float: left;
		margin-right: 1%;
	}
}

.card:last-of-type {
	margin-right: 0;
}

// navigation



// Typography

h1, h2 {
	font-family: $secondary-font;
	color: inherit;
}

h1 {
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 1.2;

	@include MQ(S) {
		font-size: 3.2rem;
	}

	@include MQ(M) {
		font-size: 4rem;
	}
}

h2 {
	font-weight: bold;
	@include MQ(S) {
		font-size: 1.8rem;
		margin: 1em 0 1.4em;
	}
}

section > h2::before {
	/* number before each section title */
	color: darken($color-4, 15%);
}

p, ul, ol {
	font-size: 1.4rem;
	line-height: 1.4;

	a {
		color: $color-1;
		text-decoration: underline;
	}

	@include MQ(S) {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}

// project overviews
section.project {
	display: flex;
	> div, > img {
		display: inline-flex;
	}
	> div {
		padding-right: 10px;
	}
	> img {
		max-width: 200px;
	}
}

@import '../partials/basic-style';
